<div class="row">
  <div class="col-md-6 offset-md-3">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h4>Introduzca sus datos </h4>
      <label for="inputEmail">Correo Electrónico</label>
      <input type="email" name="inputEmail" id="inputEmail" class="form-control" formControlName="email" required
        autofocus>
      <label for="inputPassword">Contraseña </label>
      <input type="password" name="inputPassword" id="inputPassword" class="form-control" formControlName="password"
        required>
      <hr>
      <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid" *ngIf="!autenticando">Inicie
        sesión</button>
      <button type="button" class="btn btn-primary" *ngIf="autenticando" disabled>
        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        Autenticando usuario...
      </button>
    </form>
    <p class="alert alert-danger" *ngIf="mensaje">El usuario o contraseña no es correcto</p>
    <p>Si no dispone de cuenta pulse <a routerLink="/registro">aquí</a></p>
  </div>
</div>
